*{
    /* color: #000000 */
   
  
    text-decoration:none;
/* 
    sets the width and height for the web page */
    /* height: 500px;
    width: 500px; */
}
body{
    background-color: bisque;
}
nav{
    background-color: darkslategrey;
    padding: 20px;
    text-align: center;
}


ul{
    margin-left:20%;

}

li{
    display: inline;
    margin: 10px;
   
}



.heading{
    color: rgb(252, 253, 251);
    background-color: rgb(252, 13, 5);
    padding: 50px;
    text-align: center;
}


    

p{
    margin: 10px;
    padding: 10px;
    text-align: left;
    line-height: 1em;

}
.box-1{
    background-color: #ec3939  !important;

}
.container-a{
    width: 200px;
    background-color: #111;
    height: auto;
    z-index: 1;
    top: 0;
    

}
.container-b{
    margin-left:30%; 
    width: 60%;
}
.me{
    text-align: center;
    color: darkgoldenrod;

}
.you{
    text-align: inherit;
    color: #111;

}
.u{
    color: #111;
    text-align: center;
}
.side-bar{
    width:300px;
    height:600px;
    float:left;
    background-color: grey;
    padding-right: none;

}

footer{
    color: black;
    text-align: center;
}